// ======================================================
//
// コンパイルテスト用のSCSS
//
// ======================================================
.test{
	color: #f00;
	::before{
		content:"テストでやんす";
		color: #0f0;
	}
}